firebase-functions>=0.3.2
firebase-admin>=6.5.0
google-api-python-client>=2.118.0
google-auth-oauthlib>=1.2.0
google-cloud-firestore>=2.14.0
groq>=0.4.0
google-generativeai>=0.8.0
requests
google-cloud-pubsub
google-auth
